html
    height: 100%
    max-height: 100%

*, *:before, *:after
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;

body
    background-color: #DDDDDD
    background-size:50px 50px
    height: 100%
    max-height: 100%
    color:  #001f3f


header,
footer
    text-align: center

#mainContainer
  height: 80%

#graphContainer
  width: 100%
  height: 100%
  padding: 0px

label
  display: inline-block
  width : 165px


input, textarea, select, button
  padding: 5px
  width : 150px
  margin: 0
  -webkit-box-sizing: border-box /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box

// http://stackoverflow.com/a/19065024/1387612
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
