doctype html
html(lang='en')
    include includes/commons/_head
    body
        .pure-g-r
            .pure-u-1.topHeaderSmaller
                include includes/commons/_header
        .pure-g-r#mainContainer
            .pure-u-1#graphContainer

    script.
        StartApplication();